#pic {
  display: none;
  text-align: center;
}

img {
  border: solid black 5px;
  width: 40%;
  height: auto;
  margin: auto;
}

h1 {
  text-align: center;
  background-color: rgb(206, 255, 128);
  border: solid black 5px;
}

p {
  text-align: center;
}

body {
  background-color: rgb(241, 249, 173);
}

input#number {
  text-align: center;
}

#form {
  text-align: center;
}

#button {
  text-align: center;
}

#output {
  text-align: center;
  background-color: honeydew;
  box-sizing: border-box;
  padding: 10px;
  border: solid black 5px;
}




